<header class="back"> <a>VacationBuddy</a></header>
<div>
  <div class="year">Year: <input type="number" [(ngModel)]="year" (change)="changeYear()" style="width:150px" /></div>

  <div calss="country" style="margin: 40px;"> <a style="margin: 20px;">Country: </a>
    <input (click)="getCountries()" type="text" (change)="changeKeyValue(searchField)" [(ngModel)]="searchField"
      style="width:172px" value="{{ searchField }}" />
    <div *ngIf="hidden">
      <select style="width:180px" (change)="change(c_selected)" [(ngModel)]="c_selected" multiple>
        <option *ngFor="let country of full_contri">{{ country }}</option>
      </select>
    </div>
    <input class="search" type="image" src="assets/search.svg" width="20px" (click)="searchNeighbour()" />
  </div>
</div>

<!-- Recommended countries -->
<!-- <div class="rcmd" *ngIf="des_show">
  <a>Recommended Destinations</a>
  <div class="results">
    <div class="d1" echarts [options]="Option(0)" class="dest1" (click)="SendData(0)"></div>
    <div class="d2" echarts [options]="Option(1)" class="dest1" (click)="SendData(1)"></div>
    <div class="d3" echarts [options]="Option(2)" class="dest1" (click)="SendData(2)"></div>
  </div>
</div> -->

<div echarts [options]="Option()"></div>